<nav class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">
    <div class="header-item">
      <a class="col-lg-12 col-md-12 col-xs-12 col-sm-12" (click)="signout()"><i class="zmdi zmdi-hc-2x zmdi-time-restore"></i></a>
    </div>

  </div>
</nav>

<div id="search-bar" class="bar">
  <div class="outer" (click)="endSearch()">
    <div class="inner">
      <label>Back</label>
    </div>
  </div>

  <div class="form-wrapper">
    <div class="form-content">
      <input class="search-input" placeholder="Search ..." />
      <span class="info">Hit enter to search</span>
    </div>

  </div>
</div>

